.background{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(11, 11, 11);
}

.heading{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title{
  font-size: 30px;
}

#howtoplay-btn{
  font-size: 25px;
  border: 0px;
  background-color: rgb(11, 11, 11);
  color: white;
  margin-bottom: 18px;
  margin-right: 10px;

}

#infobtn{
  font-size: 25px;
  border: 0px;
  background-color: rgb(11, 11, 11);
  color: white;
  margin-bottom: 18px;
  margin-left: 10px;

}

.main{
  background-color:  rgba(0, 0, 0, 0.303);;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.popup{
  height: 475px;
  width: 50%;
  background: rgb(11, 11, 11);
  position: absolute;
  top: 25%;
  right: 25%;
}

#howto-title, #info-title{
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

#rule1, #rule2, #rule3{
  color: white;
  text-align: center;
  margin-top: 30px;

}

#closebtn{
  position: absolute;
  color: rgb(88, 88, 88);
  top: 0;
  right:0;
  border: 0px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 25px;
  background-color: rgb(11, 11, 11);
}

#playbtn{
  display: grid;
  margin: auto;
  margin-top: 30px;
  border: 0px;
  width:80px;
  background-color:#1DB954;
  font-size: 20px;
  border-radius: 25px;
}

#info-text{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.box1, .box2, .box3,.box4,.box5,.box6{
  width: 600px;
  height: 40px;
  margin: 0px auto;
  margin-bottom: 10px;
  border: 1px solid rgb(42, 41, 41);
  color: white;
  text-align: center;
}

#skipbtn{
  width: 130px;
  height: 45px;
  font-size: 20px;
  border-radius: 25px;
  border: 0px;
  position: absolute;
  background-color:rgb(11, 11, 11);
  color: white;
  border: 1px solid rgb(42, 41, 41);
}
#skipbtn:hover{
  transform: scale(1.05);
}

#submitbtn{
  width:130px;
  height: 45px;
  font-size: 20px;
  background-color:#1DB954;
  border-radius: 25px;
  border: 0px;
}

#submitbtn:hover{
  transform: scale(1.05);
}

.buttons{
  margin: 0px auto;
  width: 600px;
  margin-top: 575px;
}

#submitbtn{
  float: right;
}

#lossheader{
  color: white;
  text-align: center;
  font-size: 30px;
}
#losstext{
  color: white;
  text-align: center;
  margin-bottom: -3px;
}
#lineseparater{
  color: rgb(112, 112, 112);
  text-align: center;
  font-size: 45px;
}
#listenbtn{
  width:200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color:#1DB954;
  border-radius: 25px;
  border: 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%,+450%);
}

#listensbtn:hover{
  transform: scale(1.05);
}

#inputbox{
  width: 600px;
  height: 40px;
  position: fixed;
  left: 50%;
  transform: translate(-50%,+1300%);
  background-color:  rgba(0, 0, 0, 0.303);
  border: 1px solid rgb(42, 41, 41);
  color: white;
}

#musicplaybtn{
  height:25px;
  scale: 2.5;
  background-color:rgb(11, 11, 11);
  position: fixed;
  left: 50%;
  border: 0px;
  color: white;
  transform: translate(-30%,+740%);
}
#musicplaybtn:hover{
  color: rgb(186, 186, 186);
}
#musicplaybtn:active{
  color: rgb(118, 118, 118);
}

#musictimeline{
  width: 600px;
  height: 15px;
  margin: 0px auto;
  border: 1px solid rgb(42, 41, 41);
  color: white;
  transform:translate(0,2900%)
}

#musicbar{
  width: 37.5px;
  height: 15px;
  margin-top: -2px;
  background: #1DB954;
  border: 1px solid #1DB954 ;
}

#loginbtn{
  font-size: 25px;
  border: 0px;
  background-color: rgb(11, 11, 11);
  color: white;
  margin-bottom: 18px;
  margin-left: 10px;
}
#albumart{
  position: fixed;
  left: 50%;
  transform: translate(-50%,-20%);
}

#winningalbumart{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+20%);
}

#winningsongname{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+625%);
  color: white;
  font-size: 20px;
}

#encouragingwords{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+700%);
  color: white;
  font-size: 25px;
}

#seconds{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+1275%);
  color: rgb(107, 107, 107);
}

#listensongbtn{
  width:200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color:#1DB954;
  border-radius: 25px;
  border: 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%,+700%);
}
#artist{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+880%);
  color: rgb(107, 107, 107);
}

#winningyear{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+1030%);
  color: rgb(107, 107, 107);
  font-size: 15px;
}
#losingsongname{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+450%);
  color: white;
  font-size: 20px;
}

#losingartist{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+550%);
  color: rgb(107, 107, 107);
  font-size: 20px;
}

#losingyear{
  position: fixed;
  left: 50%;
  transform: translate(-50%,+625%);
  color: rgb(107, 107, 107);
  font-size: 20px;
}
